<!DOCTYPE html>
<html>
    <head>
        <title>10 primeros paises</title>
    </head>
    <style>
           
        </style>
    <body style = "background: slategray">
        <form action="/index" method="POST">
            <label for="year" style= "margin-left:45.5%; text-align:center; font-size:2.5em">Enter year</label>
            <input type="text" name="year" style= "margin-left:46%"><br/>
            <input type="submit" value="Aceptar" style= "margin-left:49%"/>

        </form>
    </body>
    

</html>
